* {
  color: white;
}

header {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/pizza-back.png');
  background-position: center;
  background-color:rgba(0,0,0,0.9);
}

.header-content {
  margin-top: 200px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


img {
  background-color: none;
  cursor: pointer;
}  

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

nav div { 
  height: 25px;
  width: 100px;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav div:hover {
  border-radius: 2px;
  background-color: rgb(216, 158, 0);
}

.contacts {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.contacts a {
  
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.phone-numbers {

}

.search-cart-container {
  border-top: 2px solid white;
  background-color:rgba(0,0,0,0.9);
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stub {
  width: 200px;
}

.search-container {
  display: flex;
  align-items: center;
  /* margin-left: 40px; */
}

.search {
  color: black;
  height: 25px;
  width: 300px;
  border: 1px solid black;
  border-radius: 3px;
  outline: black;
}

.search:focus {
  outline: white;
}

.search-button {
  margin-left: 3px;
  height: 23px;
  width: 23px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.search-button::after {
  position: relative;
  right: 2px;
  bottom: 1px;
  font-family: FontAwesome;
  content: "\f002";
  font-size: 16px;
  color: #201b1b;
}

.cart-container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  margin-right: 20px;
}

.cart {
  height: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}

.cart-icon {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.pizzas-container {
  height: 5000px;
}
