nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

nav div {
  height: 25px;
  width: max-content;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav div:hover {
  border-radius: 2px;
  background-color: var(--color-orange);
}
